body {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

table {
  width: 99%;
  border-collapse:collapse;
  margin: 0px auto;
}

th, td {
  border: 1px solid #ddd ;
  padding: 5px;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
input, textarea, select {
  box-sizing: border-box;
}

.ui-action {
  cursor: pointer ;
  text-decoration: none ;
  color: #06c !important ;
  font-weight: bold !important;
  padding: 2px;
}

.ui-action:hover, .ui-action:focus { color: #09f; }

.ui-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none ;
  font-weight: normal !important ;
}

.ui-ib-60px  { display: inline-block; width:   60px; }
.ui-ib-75px  { display: inline-block; width:   75px; }
.ui-ib-90px  { display: inline-block; width:   90px; }
.ui-ib-105px { display: inline-block; width:  105px; }
.ui-ib-120px { display: inline-block; width:  120px; }
.ui-ib-150px { display: inline-block; width:  150px; }
.ui-ib-165px { display: inline-block; width:  165px; }

.ui-border { border: 1px solid lightgray; }
.ui-border-2px-dashed { border: 2px dashed lightgray; }

.ui-error-text { color:#8a1f11; }

.ui-fl-200px-col { width: 200px; float: left ; }
.ui-ml-200px-col { margin-left: 200px ; padding-right: 10px ; overflow: auto ; }

.ui-fl-250px-col { width: 250px; float: left ; }
.ui-ml-250px-col { margin-left: 250px ; padding-right: 10px ; overflow: auto ; }

.ui-collapsible {}

.ui-collapsible-section { }

.logo-text {
  font-family: Garamond, serif;
  line-height: 1em;
  color: #bab9bd;
  font-weight:bold;
  font-size: 20px;
  text-shadow:0px 0px 0 rgb(133,132,136),1px 0px 0 rgb(89,88,92), 2px 0px 0 rgb(46,45,49),3px 0px 2px rgba(0,0,0,0.5),3px 0px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
