.UITable th { text-align: center ; }

.UITable .hide-column { display: none ; }

.UITable .cell-center-align { text-align: center ; }

.UITable .cell-right-align { text-align: right ; }

.UITable .action-icon { margin: 0px ; padding: 0px ; }
