.UITableTree table {
  width: 100%;
  border-collapse:collapse;
  margin: 0px auto;
}

.UITableTree th { text-align: center ; }

.UITableTree td {
  border: 1px solid #eee;
}

.UITableTree .cell-center-align {
	text-align: center ;
}

.UITableTree .cell-right-align {
  text-align: right ;
}

.UITableTree .level0 td {
  background: white !important ;
}

.UITableTree .level1 td:first-child {
  padding-left: 15px;
}

.UITableTree .level2 td:first-child {
  padding-left: 30px;
}

.UITableTree .level3 td:first-child {
  padding-left: 45px;
}

.UITableTree .level4 td:first-child {
  padding-left: 60px;
}
